*.exe
**/*.exe
*.txt
*.log
.vscode/settings.json
proxy/dump.bin
go.sum
dump.1
dump.txt
*.bin
rserver/server/out/client
rserver/server/abc
rserver/server/out/main.go
filedb/bdb/db_test.go
filedb/bdb/demo
db
